.about__title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__box-img{
  display: inline-block;
  max-width: 600px;
  min-height: 596px;
  margin-right: 75px;
}

.about__content{
  display: inline-block;
  max-width: 500px;
  width: 100%;
  float: right;
}

.about__img{
  width: 100%;
}

.about__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about__quote-box{
  text-align: left;
  padding-top: 25px;

}

.about__quote{
  max-width: 375px;
  width: 100%;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__quote::before,
.about__quote::after{
  position: absolute;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--color-btn-hover);
}

.about__quote::before{
  content: '“';
  left: -36px;
}

.about__quote::after{
  content: '”';
  right: 19px;
}

.about__signature-box{
  display: inline-block;
  float: right;
  padding-left: 73px;
}

.about__signature{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about__signature-img{
  border-radius: 50%;
  margin-right: 30px;
  display: inline-block;
  float: left;
}
