.footer{
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
  /*min-height: 629px;*/
}

.contacts__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 40px;
}

.contacts__text{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 38px;
  position: relative;
  padding-left: 60px;
}

.contacts__email,
.contacts__phone{
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
  position: relative;
}

.contacts__email{
  margin-bottom: 39px;
}

.contacts__text::before,
.contacts__phone::before,
.contacts__email::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts__text::before{
  background-image: url("../img/location.svg");
}

.contacts__phone::before{
  background-image: url("../img/call.svg");
}

.contacts__email::before{
  background-image: url("../img/email.svg");
}

.social{
  list-style: none;
  margin-bottom: 39px;
}

.social__item{
  display: inline-block;
  margin-right: 26px;
}

.contacts__wrapper{
  display: flex;
  justify-content: space-between;
}

.copyright{
  padding: 50px 0 10px 0;
}

.copyright__row{
  display: flex;
  justify-content: space-between;
}

.contacts__column:first-child{
  max-width: 325px;
}

.copyright__text,
.author__name,
.author__email{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.author{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.author__name{
  margin-bottom: 6px;
}
