.header{
  padding-top: 13px;
  margin-bottom: -40px;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn{
  text-transform: uppercase;
  border: 3px solid var(--color-btn-main);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  padding: 12px 32px;
  color: inherit;
  background-color: transparent;

  transition: 0.3s all ease-in-out;
}

.header__btn:hover{
  background-color: var(--color-btn-hover);
  border: 3px solid var(--color-btn-hover);
}

.header__btn:active{
  background-color: var(--color-btn-active);
  border: 3px solid var(--color-btn-active);
}

.header__btn:focus{
  background-color: var(--color-btn-hover);
  border: 3px solid var(--color-btn-hover);
}

.nav__list{
  display: flex;
  column-gap: 40px;
  text-transform: uppercase;
}

.nav__link{
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.nav__link:hover{
  color: var(--color-btn-hover);
}

.nav__link:active{
  color: var(--color-btn-active);
}

.nav__link:focus{
  color: var(--color-btn-hover);
}
