.our-halls{
  margin-bottom: 100px;
}

.our-halls__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.our-halls__list{
  list-style: none;
}

.our-halls__item{
  height: 710px;
  margin: 0;
}

.our-halls__item:nth(:last-child){
  margin-bottom: 60px;
}

.our-halls__figure{
  margin: 0 auto;
}

.our-halls__figcaption{
  margin-top: -50%;
  transform: translateY(70px);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
