.our-halls__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.our-halls__list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.our-halls__item{
  flex-basis: 580px;
  min-height: 349px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-halls__item_1{
  background-image: url("../img/halls/1.jpg");
}

.our-halls__item_2{
  background-image: url("../img/halls/2.jpg");
}

.our-halls__item_3{
  background-image: url("../img/halls/3.jpg");
}

.our-halls__item_4{
  background-image: url("../img/halls/4.jpg");
}

.our-halls__text{
  text-transform: uppercase;
  flex-basis: 252px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
